/* p[class~="class-9"] {
  color: blue;
} */

/* Start With */
/* p[class^="d"] {
  color: blue;
} */

/* Contains */
/* p[class*="d"] { 
  color: blue;
} */

/* End With */
/* p[class$="g"] {
  color: blue;
} */

h1 {
  /* border: 5px solid red; */
  border-radius: 50px;
}

h1 + p {
  border: 5px solid red;
  border-radius: 50px;

  padding: 10px;
  margin-left: 10px;
}

h1 ~ p {
  border: 5px solid blue;
  border-radius: 50px;

  padding: 10px;
}

/* FLOAT */

header {
  border: 1px solid red;
}
h1 {
  float: left;
  border: 1px solid black;
  margin: 0;
}
ul {
  border: 1px solid blue;
  float: right;
}

ul li {
  float: left;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}
section {
  clear: both;
}

.row-1 {
  border: 2px solid blue;
}

p.dog {
  /* display: inline; */
  width: 400px;
}

.thumbnails {
  /* display: inline; */
  width: 300px;
}

.thumbnails img {
  width: 100px;
}

footer {
  text-align: center;
}
